.home {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .home-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      width: 70%;
      max-width: 1200px;
      margin-bottom: 20px;
    }
  }
}
